body {
    padding: 0;
    margin: 0;
}
html, body, #map {
	height: 100%;
    width: 100%;
}

/* Loading page */
div#import_widget, div#export_widget {
  display: none;
  width: 60vh;
  top: 20%;
  left: 40vh;
  position: fixed;
  z-index: 99;
  background-color: rgba(0,60,136,.5);
  color: white;
  border: 2px solid #ccc;
}
#import_widget * {
  color: white;
}
#import_widget select,
#import_widget option,
#import_widget input {
  background-color: #eaeded;
  color: #aaa;
}
#import_widget form {
  padding: 1.0em;
}
.closeSymbol {
  position: absolute;
  right: 7px;
  top: 4px;
  cursor: pointer;
}
.fileUpload {
  overflow: hidden;
  position: relative;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#uploadFile {
  display: inline-block;
}
#import_form_submit {
  margin-top: 0.5em;
}